<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleIdentifier</key>
	<string>rom.best.UkComfort</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>xamarinJKH</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleShortVersionString</key>
	<string>3.20</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>NSCameraUsageDescription</key>
	<string>Вы можете сфотографировать проблему и приложить к заявке фотографию</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Вы можете приложить фото к заявке</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Вы можете предоставить доступ к микрофону чтобы записать видео и приложить к заявке</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Геопозиция</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Предоставьте доступ к геопозиции</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Предоставьте доступ к календарю и дате</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Вы можете приложить фото к заявке</string>
	<key>CFBundleVersion</key>
	<string>3.20</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>ГранельЖКХ</string>
</dict>
</plist>
